.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.Header {
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 20px;
  background-color: rgba(93, 16, 16, 0.321);
}

.mainbody {
  width: 390px;
  height: 600px;
  padding: 10px;
  background: white;
  border-radius: 20px;

}

.ResultAre {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #2d2d2de2;
  width: 100%;
  height: 20%;
  border-radius: 20px;
  margin: 5px 0px 5px 0px;
}

.ResultAre input {
  width: 90%;
  height: 80%;
  background-color: transparent;
  justify-content: center;
  text-align: right;
  outline: none;
  border: none;
  font-size: 50px;
  color: white;
}

.buttonsare {
  margin-top: 15px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.321);
  width: 370px;
  height: 380px;
  padding: 10px;
  border-radius: 20px;

}

.buttonsare ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-right: 50px;
  margin-top: -5px;
}

.buttonsare ul li {
  border-radius: 2px;
  border-color: white;
  list-style-type: none;
}

.buttonsare ul li input.Equal {
  width: 150px;
}

.buttonsare ul li input {
  background-color: rgba(73, 15, 139, 0.721);
  width: 80px;
  height: 60px;
  border-radius: 2px;
  cursor: pointer;
  border-width: 2px;
  color: white;
  border-color: white;
  font-weight: 500;
  border-radius: 7px;
}

.buttonsare ul li input:hover {
  background-color: rgb(120, 28, 225);
  transition: 0.3s linear;
  border-width: 2.1px;
  border-radius: 5px;
  color: while;
  border-color: rgb(255, 208, 0);
}